<!-- Partie HTML -->
<section class="section-card">
  <div class="day-div" *ngFor="let day of weekDayData">
    <p class="display-6 day-text" style="color: #8b4513">
      {{ day.day }}
    </p>
    <select [(ngModel)]="day.selectedPersonMatin" name="" id="morning-select">
      <option value="">Matin</option>
      <option *ngFor="let person of familyData" [value]="person.firstname">
        {{ person.firstname }}
      </option>
    </select>
    <select [(ngModel)]="day.selectedPersonMidi" name="" id="half-select">
      <option value="">Midi</option>
      <option *ngFor="let person of familyData" [value]="person.firstname">
        {{ person.firstname }}
      </option>
    </select>
    <select [(ngModel)]="day.selectedPersonSoir" name="" id="evening-select">
      <option value="">Soir</option>
      <option *ngFor="let person of familyData" [value]="person.firstname">
        {{ person.firstname }}
      </option>
    </select>
  </div>
</section>

<section class="section-calendar">
  <div class="day-div" *ngFor="let day of weekDayData">
    <p class="display-6 day-text" style="color: green">
      {{ day.day }}
    </p>
    <div class="moment-div morning">
      <p class="morning-text">Matin</p>
      <img
        *ngIf="day.selectedPersonMatin"
        [src]="getPersonPicture(day.selectedPersonMatin)"
        alt="{{ day.selectedPersonMatin }}"
        class="person-img"
      />
    </div>
    <div class="moment-div half">
      <p class="half-text">Midi</p>
      <img
        *ngIf="day.selectedPersonMidi"
        [src]="getPersonPicture(day.selectedPersonMidi)"
        alt="{{ day.selectedPersonMidi }}"
        class="person-img"
      />
    </div>
    <div class="moment-div evening">
      <p class="evening-text">Soir</p>
      <img
        *ngIf="day.selectedPersonSoir"
        [src]="getPersonPicture(day.selectedPersonSoir)"
        alt="{{ day.selectedPersonSoir }}"
        class="person-img"
      />
    </div>
  </div>
</section>
