.img-family {
  height: 15em;
  width: 14em;
  border-radius: 50%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
  box-shadow: 2px 2px 20px black;
}
.img-family:hover {
  box-shadow: 2px 2px 20px #1aa3c8;
  transform: scale(1.06);
}
.lastname {
  margin-bottom: 0.9rem;
  margin-top: 0.6rem;
  font-size: 1.4em;
  font-weight: 500;
}
.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
p {
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
  font-size: 1.4em;
  font-weight: 400;
}
h2 {
  text-align: center;
  padding: 1.5em;
}
h3 {
  text-align: center;
  padding: 1.2em 0 0.8em 0;
}
.img-title-div {
  position: relative;
  height: 9em;
  margin-top: 2em;
}
.img-forest {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../assets/forest.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 12em;
  background-color: aqua;
  opacity: 0.8;
}
h4 {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  margin-top: 1.1em;
  text-shadow: 2px 2px 5px rgb(0 0 0);
  text-align: center;
}
