<div class="container">
  <h1 class="display-4">Membres de la famille Faure</h1>
  <div class="row">
    <div class="col" *ngFor="let person of familyData">
      <p class="lastname">{{ person.firstname }} {{ person.name }}</p>
      <img class="img-family" src="{{ person.picture }}" alt="" />
      <p>{{ person.activity }}</p>
    </div>
  </div>
</div>
<h2 class="display-5">Cette famille vient d'accueillir un nouveau compagnon</h2>
<div class="col">
  <p class="lastname">Lucien "Lulu"</p>
  <img class="img-family" src="./assets/lucien.JPG" alt="" />
  <p>qui a bien besoin de se balader</p>
</div>
<div class="img-title-div container">
  <div class="img-forest container"></div>
  <h3 class="display-5 container">Répartition des balades de lulu</h3>
</div>
