<section>
  <div class="day-div">
    <p class="display-6" style="background-color: #4caf50">Lundi</p>
    <select name="" id="">
      <option value="">Matin</option>
      <option *ngFor="let person of familyData" value="">
        {{ person.firstname }}
      </option>
    </select>
    <select name="" id="">
      <option value="">Midi</option>
      <option *ngFor="let person of familyData" value="">
        {{ person.firstname }}
      </option>
    </select>
    <select name="" id="">
      <option value="">Soir</option>
      <option *ngFor="let person of familyData" value="">
        {{ person.firstname }}
      </option>
    </select>
  </div>
  <div class="day-div" style="background-color: #8b4513">Mardi</div>
  <div class="day-div" style="background-color: #006400">Mercredi</div>
  <div class="day-div" style="background-color: #008000">Jeudi</div>
  <div class="day-div" style="background-color: #708090">Vendredi</div>
  <div class="day-div" style="background-color: #228b22">Samedi</div>
  <div class="day-div" style="background-color: #a52a2a">Dimanche</div>
</section>
